*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #404040;
}

body {
  font-family: Roboto, sans-serif;
  color: #404040;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
